
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	line-height: 1.5;
}

body {
	display: table;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
	font-family: Verdana,Geneva,sans-serif
}

.wrapper {
	display: table-row;
}

.sidebar,
.main {
	display: table-cell;
	vertical-align: top;
}

.sidebar {
	position: relative;
	width: 15%;
	padding: 1.5em 1em 0;
	background-color: #eee;
	font-size: 90%;
}

.canvas {
	display: block;
	width: 100%;
	height: auto;
}

fieldset,
.mb1 {
	margin-bottom: 1em;
}

[disabled] {
	pointer-events: none;
}

fieldset[disabled] {
	opacity: .7;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: 1px dashed #555;
}

label,
input,
button {
	cursor: pointer;
}

input[type="number"] {
	cursor: text;
}

button {
	font-size: 120%;
	font-family: inherit;
	display: inline-block;
	width: 100%;
}

.by {
	position: absolute;
	bottom: 1.5em;
	left: 0;
	width: 100%;
	margin: 0;
	text-align: center;
}
